<h2>{{title}}</h2>

<div>
  <label>Add stock:
    <input #stockName />
  </label>
  <label>Purchase Price:
    <input #purchasePrice />
  </label>
  <label>Quantity:
    <input #quantity />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(stockName.value, purchasePrice.value, quantity.value); stockName.value=''; purchasePrice.value=''; quantity.value='' ">
    add
  </button>
</div>

<button (click)="printSelection()">Print Selected</button>
<button (click)="deleteSelected()">Delete Selected</button>
<button routerLink="/chart"(click)="chartSelected()">Chart Selected</button>
<button (click)="detailSelected()">Detail Selected</button>




<ul class="stocks">
  <li *ngFor="let stock of stocks"
      [class.selected]="stock === selectedStock">
    <a routerLink="/detail/{{stock.symbol}}" (click)="onSelect(stock)">
      <span class="badge">{{stock.symbol}}</span> {{stock.quantity}} shares @ ${{stock.purchasePrice}}
    </a>
    <button class="delete" title="delete stock"
    (click)="delete(stock)">x</button>
  </li>
</ul>
<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
      <mat-cell *matCellDef="let stock"> {{stock.symbol}} </mat-cell>
    </ng-container>

    <!-- Purchase Price Column -->
    <ng-container matColumnDef="purchasePrice">
      <mat-header-cell *matHeaderCellDef> Purchase Price </mat-header-cell>
      <mat-cell *matCellDef="let stock"> {{stock.purchasePrice}} </mat-cell>
    </ng-container>

    <!-- Quantity Column -->
    <ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>
      <mat-cell *matCellDef="let stock"> {{stock.quantity}} </mat-cell>
    </ng-container>

    <!-- Quote Column -->
    <ng-container matColumnDef="quote">
        <mat-header-cell *matHeaderCellDef> Quote </mat-header-cell>
        <mat-cell *matCellDef="let stock"> {{stock.quote}} </mat-cell>
      </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
             (click)="selection.toggle(row)">
    </mat-row>
  </mat-table>
</div>


<!--<app-stock-detail [stock]="selectedStock"></app-stock-detail>-->
